.admin{
  padding:60px;
}

.admin h1{
  margin-bottom:30px;
}

.admin-form{
  display:flex;
  flex-direction:column;
  gap:20px;
  width:500px;
}

.admin-form input,
.admin-form textarea{
  padding:15px;
  border:none;
  border-radius:10px;
  font-size:16px;
}

.admin-form textarea{
  height:150px;
}

.admin-form button{
  padding:15px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  font-size:18px;
}





.admin-components{
  margin-top:60px;

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:30px;
}





.admin-card{
  background:#0f172a;
  border-radius:15px;
  overflow:hidden;
  padding-bottom:20px;
}

.admin-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.admin-card h2{
  padding:20px;
}

.admin-card button{
  margin-left:20px;
  padding:12px 20px;
  background:red;
  color:white;
  border:none;
  border-radius:10px;
}