.footer{
  background:#020817;
  padding:60px;
  margin-top:80px;
}

.footer-top{
  display:flex;
  justify-content:space-between;
  gap:50px;
}

.footer-about{
  width:40%;
}

.footer-about h1{
  font-size:35px;
  margin-bottom:20px;
}

.footer-about p{
  color:#cbd5e1;
  line-height:1.8;
}

.footer-links{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.footer-links h2{
  margin-bottom:10px;
}

.footer-links a{
  color:#cbd5e1;
  transition:0.3s;
}

.footer-links a:hover{
  color:#38bdf8;
}

.footer-contact h2{
  margin-bottom:15px;
}

.footer-contact p{
  margin-bottom:10px;
  color:#cbd5e1;
}

.footer-bottom{
  margin-top:50px;
  border-top:1px solid #1e293b;
  padding-top:20px;
  text-align:center;
  color:#94a3b8;
}